In [182]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [183]:
train=pd.read_csv("titanic_train.csv")
test=pd.read_csv("titanic_test.csv")

In [184]:
df=pd.concat([train,test],ignore_index=True)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [185]:
df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [186]:
df.shape

(1309, 12)

In [187]:
df1 = df.copy()

In [188]:
for key,value in df.iterrows():
    if(np.isnan(value['Survived'])):
        df1=df1.drop(key)

In [189]:
df1.tail()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
886,27.0,NaN,S,13.00,"Montvila, Rev. Juozas",0,887,2,male,0,0.0,211536
887,19.0,B42,S,30.00,"Graham, Miss. Margaret Edith",0,888,1,female,0,1.0,112053
888,NaN,NaN,S,23.45,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,0.0,W./C. 6607
889,26.0,C148,C,30.00,"Behr, Mr. Karl Howell",0,890,1,male,0,1.0,111369
890,32.0,NaN,Q,7.75,"Dooley, Mr. Patrick",0,891,3,male,0,0.0,370376

In [190]:
df1['Has_Cabin']=df1['Cabin'].isnull()==False

In [191]:
df1['Has_Cabin']

0      False
1       True
2      False
3       True
4      False
5      False
6       True
7      False
8      False
9      False
10      True
11      True
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21      True
22     False
23      True
24     False
25     False
26     False
27      True
28     False
29     False
       ...
861    False
862     True
863    False
864    False
865    False
866    False
867     True
868    False
869    False
870    False
871     True
872     True
873    False
874    False
875    False
876    False
877    False
878    False
879     True
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887     True
888    False
889     True
890    False
Name: Has_Cabin, Length: 891, dtype: bool

In [192]:
import re
df1['Title']='Special'
for key,value in df1.iterrows():
    df1['Title'][key]=re.findall(r', \w{1,}.',value['Name'])[0][2:]

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [193]:
df1['Title']

0          Mr.
1         Mrs.
2        Miss.
3         Mrs.
4          Mr.
5          Mr.
6          Mr.
7      Master.
8         Mrs.
9         Mrs.
10       Miss.
11       Miss.
12         Mr.
13         Mr.
14       Miss.
15        Mrs.
16     Master.
17         Mr.
18        Mrs.
19        Mrs.
20         Mr.
21         Mr.
22       Miss.
23         Mr.
24       Miss.
25        Mrs.
26         Mr.
27         Mr.
28       Miss.
29         Mr.
        ...
861        Mr.
862       Mrs.
863      Miss.
864        Mr.
865       Mrs.
866      Miss.
867        Mr.
868        Mr.
869    Master.
870        Mr.
871       Mrs.
872        Mr.
873        Mr.
874       Mrs.
875      Miss.
876        Mr.
877        Mr.
878        Mr.
879       Mrs.
880       Mrs.
881        Mr.
882      Miss.
883        Mr.
884        Mr.
885       Mrs.
886       Rev.
887      Miss.
888      Miss.
889        Mr.
890        Mr.
Name: Title, Length: 891, dtype: object

In [194]:
df1=df1.fillna(method='ffill')

In [195]:
df1['Categorical_age']=pd.qcut(df1['Age'], q=4, labels=False)

In [196]:
df1['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5      35.0
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      2.0
18     31.0
19     31.0
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26     38.0
27     19.0
28     19.0
29     19.0
       ...
861    21.0
862    48.0
863    48.0
864    24.0
865    42.0
866    27.0
867    31.0
868    31.0
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878    19.0
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888    19.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [197]:
df1['Categorical_age']

0       5
1      14
2       8
3      13
4      13
5      13
6      18
7       0
8       8
9       2
10      0
11     19
12      4
13     15
14      2
15     18
16      0
17      0
18     11
19     11
20     13
21     12
22      2
23      9
24      1
25     14
26     14
27      3
28      3
29      3
       ..
861     5
862    17
863    17
864     6
865    16
866     8
867    11
868    11
869     0
870     8
871    17
872    12
873    17
874     9
875     2
876     4
877     3
878     3
879    18
880     7
881    12
882     5
883     9
884     7
885    15
886     8
887     3
888     3
889     8
890    11
Name: Categorical_age, Length: 891, dtype: int64

In [1]:
df1['Categorical_fare']=pd.qcut(df1['Fare'], , labels=False)

NameError: name 'pd' is not defined

In [199]:
df1['Categorical_fare']

0       1
1      17
2       5
3      16
4       5
5       6
6      16
7      11
8       8
9      14
10     11
11     13
12      5
13     15
14      3
15     10
16     14
17      8
18     11
19      0
20     12
21      8
22      5
23     15
24     11
25     15
26      0
27     19
28      4
29      4
       ..
861     8
862    12
863    17
864     8
865     8
866     9
867    16
868     7
869     8
870     4
871    16
872     0
873     6
874    12
875     0
876     7
877     4
878     4
879    18
880    12
881     4
882     8
883     7
884     0
885    14
886     8
887    14
888    12
889    14
890     2
Name: Categorical_fare, Length: 891, dtype: int64

In [200]:
df1=df1.drop(['Cabin', 'Name', 'PassengerId', 'Ticket', 'Age', 'Fare', 'SibSp', 'Parch'], axis=1)

In [201]:
df1=pd.get_dummies(df1)

In [212]:
x=df1.iloc[:,[0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]]

In [214]:
y=df1.iloc[:,[1]]

In [219]:
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [221]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [223]:
from sklearn.linear_model import LogisticRegression
regressor=LogisticRegression()
regressor.fit(x_train,y_train)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [235]:
y_pred=regressor.predict(x_test).reshape(223,1)

In [243]:
#confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[116,  23],
       [ 21,  63]], dtype=int64)

In [250]:
from sklearn.metrics import accuracy_score

In [251]:
accuracy_score(y_test, y_pred)

0.8026905829596412